@import "tailwindcss";
@import "tw-animate-css";
/*
---break---
*/
@custom-variant dark (&:is(.dark *));

/*
bitsGreen: #426256
bitYellow #DFE695
bitsRed #D46F5F
*/
@layer {
  /* BUTTONS */
  .btn {
    @apply bg-bitsGreen-500 text-bitsYellow-500 rounded-md min-w-[7rem] pb-0.5 shadow shadow-bitsRed-500 font-semibold border-black border  hover:cursor-pointer hover:bg-bitsGreen-600 hover:text-bitsYellow-600;
  }
  /* FONTS */
  .cartBoxFont {
    @apply text-xl font-semibold;
  }
  .boxHeader {
    @apply text-bitsRed-500  text-xl;
  }
  .boxParagraph {
    @apply text-bitsYellow-500 font-extralight;
    /* Maybe change back to bitsRed */
  }
  /* PAGE CONTAINERS */
  .pageContainer {
    @apply flex flex-col md:h-screen md:w-screen items-center;
    /* @apply flex justify-center; */
  }

  /* BOX CONTAINERS */
  .itemBox {
    @apply w-[8rem] items-start;
  }
  .box {
    @apply border border-bitsRed-500 rounded min-w-max min-h-[200];
  }
  .drinkBox {
    @apply border border-bitsRed-500 rounded-t-md  w-[10rem] h-[10rem];
  }

  .drinkInfoBox {
    @apply flex my-0.5 border border-bitsRed-500 bg-bitsGreen-500/50 rounded-b-md px-4 justify-between;
  }

  .cartBox {
    @apply border border-bitsRed-500 rounded min-w-max min-h-max w-[15rem] h-[10rem];
  }

  .foodBox {
    @apply border  border-bitsRed-500 rounded min-w-max min-h-max w-[30rem] h-[15rem];
  }
  /* INPUTS */
  .emailInput {
    @apply w-[12rem] outline outline-bitsGreen-500 rounded mt-1 px-2 pb-1 placeholder:font-light placeholder:text-sm align-middle text-bitsYellow-500 font-light focus:outline-bitsGreen-200 text-sm bg-bitsGreen-500/30;
  }
  .searchInput {
    @apply w-[12rem] outline outline-bitsGreen-500 rounded-2xl mt-1 px-2 pb-1 placeholder:font-light placeholder:text-sm align-middle text-bitsYellow-500 font-light focus:outline-bitsGreen-200 text-sm bg-bitsGreen-500/30;
  }

  .incrementIcon {
    @apply text-4xl text-bitsGreen-500 font-bold hover:cursor-pointer hover:text-bitsGreen-300;
  }
}

@theme {
  --color-bitsRed: oklch(65.432% 0.1302 30.326);
  --color-bitsRed-50: oklch(96.566% 0.01089 24.32);
  --color-bitsRed-100: oklch(93.109% 0.02239 27.815);
  --color-bitsRed-200: oklch(85.917% 0.04678 29.665);
  --color-bitsRed-300: oklch(78.83% 0.07272 29.478);
  --color-bitsRed-400: oklch(72.028% 0.10155 29.665);
  --color-bitsRed-500: oklch(65.432% 0.1302 30.326);
  --color-bitsRed-600: oklch(57.288% 0.16359 31.538);
  --color-bitsRed-700: oklch(47.859% 0.13329 31.677);
  --color-bitsRed-800: oklch(37.631% 0.10096 31.315);
  --color-bitsRed-900: oklch(27.029% 0.06575 31.543);
  --color-bitsRed-950: oklch(21.398% 0.04589 30.004);

  --color-bitsYellow: oklch(90.121% 0.10323 112.49);
  --color-bitsYellow-50: oklch(100% 0 none);
  --color-bitsYellow-100: oklch(100% 0 none);
  --color-bitsYellow-200: oklch(99.267% 0.00657 106.52);
  --color-bitsYellow-300: oklch(96.281% 0.04068 111.65);
  --color-bitsYellow-400: oklch(93.165% 0.07275 111.95);
  --color-bitsYellow-500: oklch(90.121% 0.10323 112.49);
  --color-bitsYellow-600: oklch(86.056% 0.13967 113.45);
  --color-bitsYellow-700: oklch(82.448% 0.16709 114.41);
  --color-bitsYellow-800: oklch(70.641% 0.14644 114.48);
  --color-bitsYellow-900: oklch(56.493% 0.115 114.34);
  --color-bitsYellow-950: oklch(48.954% 0.09845 113.87);

  --color-bitsGreen: oklch(46.741% 0.04233 169.11);
  --color-bitsGreen-50: oklch(77.431% 0.03856 170.56);
  --color-bitsGreen-100: oklch(74.344% 0.04231 170.53);
  --color-bitsGreen-200: oklch(68.533% 0.05316 170.26);
  --color-bitsGreen-300: oklch(62.342% 0.05886 168.96);
  --color-bitsGreen-400: oklch(54.51% 0.05079 169.01);
  --color-bitsGreen-500: oklch(46.741% 0.04233 169.11);
  --color-bitsGreen-600: oklch(35.134% 0.0293 171.86);
  --color-bitsGreen-700: oklch(22.806% 0.01633 168.38);
  --color-bitsGreen-800: oklch(0% 0 none);
  --color-bitsGreen-900: oklch(0% 0 none);
  --color-bitsGreen-950: oklch(0% 0 none);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

body {
  /* font-family: Arial, Helvetica, sans-serif; */
}

.spin {
  animation: var(--animate-spin); /* spin 1s linear infinite */
  animation-duration: 10s;
}

.bounce {
  animation: var(--animate-bounce); /* bounce 1s infinite */
  animation-duration: 10s;
}

.fade {
  animation: var(--animate-fade); /* bounce 1s infinite */
  animation-duration: 10s;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadein {
  animation: 600ms ease 0s normal forwards 1 fadein;
  opacity: 0;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fadeout {
  animation: 600ms ease 0s normal forwards 1 fadeout;
  opacity: 1;
}

/*
---break---
*/

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

/*
---break---
*/

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

/*
---break---
*/

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
